html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #0003ff, #7b00f6, #ab00ed, #cf00e4, #eb12dc);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 20%; */
    font-weight: 100;
}

.heading1 {
    font-size: 70%;
    text-align: center;
    justify-content: center;  
    justify-items: auto;
    color: white;
}

.timer {
    font-size: 20%;
    color: whitesmoke;
    text-align: center;
    justify-content: center;  
    justify-items: auto;  
    translate: 0 2%;
}

.timer-sec {
    font-size: 20%;
    color: whitesmoke;
    text-align: center;
    justify-content: center;  
    justify-items: auto;  
    translate: 0 2%;
}

#secs {
    font-size: 50%;
}