* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, #0003ff, #7b00f6, #ab00ed, #cf00e4, #eb12dc);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-weight: 100;
}

.main-head {
    font-size: 45%;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
}

.heading1 {
    font-size: 40%;
    text-align: center;
    justify-content: center;  
    justify-items: auto;
    color: white;
    padding-top: 20px;
}

.timer {
    font-size: 100%;
    color: whitesmoke;
    text-align: center;
    justify-content: center;  
    justify-items: auto;  
    translate: 0 2%;
    padding: 0;
    margin: 0;
}

.timer p {
    max-height: 60px;
}


.timer #days {
    font-size: 60%;
    padding-bottom: 15px;
}

.timer .text-days {
    font-size: 50%;
}

.timer #hours {
    font-size: 50%;
}

.timer .text-hours {
    font-size: 40%;
}

.timer #minutes {
    font-size: 45%;
}

.timer .text-minutes {
    font-size: 35%;
}

.timer #seconds {
    font-size: 35%;
}

.timer .text-seconds {
    font-size: 25%;
}

.heading2 { 
    font-size: 40%;
    text-align: center;
    justify-content: center;  
    justify-items: auto;
    color: white;
    padding-top: 80px;
}


.timer-sec {
    font-size: 20%;
    color: whitesmoke;
    text-align: center;
    justify-content: center;  
    justify-items: auto;  
    translate: 0 2%;
    padding-top: 30px;
}

#secs {
    font-size: 150%;
    padding-top: 30px;
}


